.header {
    position: fixed;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    top: 1rem;
    right: 1rem;


    &>.navbar {
        display: flex;
        padding: 0.2rem 1rem;
        gap: 1rem;

        &>.navbar__enlace {
            color: var(--color-text);
            text-decoration: none;
            font-weight: 600;
            filter: brightness(0.5);

            &:hover {
                filter: brightness(1.2);
            }
        }
    }
}

@media (width > 768px) {
    .header {
        right: 2rem;
    }
}